In [1]:
import random
from random import randrange
import datetime 
import sqlite3

In [2]:
listSurname = ["Федотов", "Соболева", "Пятина", "Пашаев", "Новиков", "Иванюта", "Зенин", "Виноградов", "Бондарев", "Бабаджанова", 'Бегунов', "Шлеков", 'Горбушин', 'Гаршкова', "Гриненко", "Егорова", "Жариков", "Зданович", "Илизаров", "Исаев", "Исхаков", "Коломытцева", "Кондаурова", "Коночкина", "Кудряшов", "Лещенко", "Марчукова", "Маслеников", "Морланг", "Моторова", "Никифорова", "Садыков", "Самсонов", "Семёнов", "Соловьева", "Спирин", "Уткин", "Филиппова", "Чаплыгина", "Шлокова"]
listNames = ["Фёдор", "Анастасия", "Анна", "Рафаэль", "Дмитрий", "Михаил", "Виктор", "Клим", "Никита", "Елена", "Григорий", "Виталий", "Мария", "Алексей", "Алина", "Алексей", "Артем", "Тимофей", "Год", "Максим", "Даниил", "Ольга", "Ксения", "Маргарита" , "Дмитрий", "Сергей", "Кристина", "Денис", "Елизавета", "Вита", "Екатерина", "Артур", "Константин", "Никита", "Александра", "Кирилл", "Глеб", "Ирина", "Светлана", "Ксения"]
listPatronymic = ["Алексеевич", "Олеговна", "Константиновна", "Яхьяевич", "Евгеньевич", "Валерьевич", "Олегович", "Николаевич", "Сергеевич", "Александровна", "Андреевич", "Валерьевич", "Геннадьевна", "Алексеевич", "Александровна", "Евгеньевич", "Иванович", "Владимирович", "Эмануилович", "Дмитриевич", "Рамильевич", "Андреевна", "Сергеевна", "Николаевна", "Романович", "Михайлович", "Владимировна", "Олегович", "Алексеевна", "Александровна", "Игоревна", "Маратович", "Сергеевич", "Антонович", "Константиновна", "Андреевич", "Игорьевич", "Сергеевна", "Сергеевна", "Александровна"]
listJobTitle = ['Директор', 'Админестратор', 'Старший офицант', 'Офицант', 'Повор']

In [3]:
def jobMoney(jobType):
    if jobType == 1:
        jobMoney = random.randint(200000, 300000)
        return jobMoney
    elif jobType == 2:
        jobMoney = random.randint(170000, 250000) 
        return jobMoney
    elif jobType == 3:     
        jobMoney = random.randint(120000, 200000)
        return jobMoney
    elif jobType == 4:     
        jobMoney = random.randint(50000, 170000)
        return jobMoney
    else:     
        jobMoney = random.randint(100000, 210000)
        return jobMoney

In [4]:
def fullName(ixSurname, ixName, ixPatronymic):
    fullName = listSurname[ixSurname] + ' ' + listNames[personName]+ ' ' + listPatronymic[personPatronymic]
    return fullName

In [5]:
for item in range(50000, 50400):
    personSurname = random.randint(0, 39)
    personName = random.randint(0, 39)
    personPatronymic = random.randint(0, 39)

    jobType =  random.randint(1, 5)

    start_date = datetime.date(2000,  1, 1)
    end_date = datetime.date(2022, 6, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    conn = sqlite3.connect('db.sqlite3')
    cur = conn.cursor()

    data = (item, listNames[personName], listSurname[personSurname], listPatronymic[personPatronymic], fullName(personSurname, personName, personPatronymic), random_date, jobMoney(jobType), jobType, )

    cur.execute("INSERT INTO api_person VALUES(?, ?, ?, ?, ?, ?, ?, ?);", data)
    conn.commit()

In [130]:
print(listSurname[personSurname])
print(listNames[personName])
print(listPatronymic[personPatronymic])

print(fullName(personSurname, personName, personPatronymic))
print(jobType)
print(random_date)
print(jobMoney(jobType))

Маслеников
Сергей
Алексеевна
Маслеников Сергей Алексеевна
2
2017-03-30
245549